.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.findbtn{
    background-color: #3b68f4d1;
    padding: 15px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}